<div class="row" >j
  <br>j</div>
<div ng-controller="descr"  style=" margin-left: 35em; margin-right: 40em" >

<div ng-repeat="detail in detailss">
 <div ng-if="vm.id==detail.id">
    <img src="https://dev.datetheramp.com/static/catalog/160/{{detail.image_url}}" height="250" width="180" style="float: left; padding-right: 1.5em"><h3  style="color:red;  padding-right:1em; text-transform: uppercase">{{detail.name}}</h3>
  <div style=" margin-left: ;" >
    <p class="bio"><span class="newlines-break"> {{detail.desc}} </span></p>
</div>
  </div>

 </div>
</div>
